---
import Styles from '../../public/site.css';
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
import ServiceHero from '../components/ServiceHero.astro';
import LeftHero from '../components/LeftHero.astro';
import RightHero from '../components/RightHero.astro';

const serviceList = [
	"Lawn Mowing ($75 / 1/4 Acre)",
	"Mulching ($150 / cubic yard applied)",
	"Spring yard refresh ($125)"];

const basicContract = [
	"Lawn Complete - (Lawn Mowing ($50 / 1/4 Acre) ",
	"Spring Clean Up",
	"Mulching ($125 / cubic yard applied) ",
	"Weed pulling ($75)",
	"Summer Refresh (weed pulling ($75)",
	"Tree trimming ($10 / tree)"

];

const advancedContract = [
	"All services included in basic package",
	"---and also---",
	"Fall leaf cleanup ($75/.25 acres)",
	"Snow event (over 3 inches) ($75/.25 acres)"
];

const {
	title = "Landscaping Service",
	description = "Trust Our Experts"
}= Astro.props;

---


<html lang="en">
	<head>
		<MainHead
			title={title}
			description={description}
		/>
	</head>
	<body>
		<Nav />
		<ServiceHero 
			heroImage = '/assets/Driveway.jpg'
			overlayTitle = 'Landscaping services'
		/>
		<br />
		<LeftHero 
			heroImage='background-image: url(/assets/LandscapingCourtyard.jpg);'
			heroTitle='Integrate with existing architecture'
			heroSummary="From natural stone and boulders to modern pavers and retaining walls, we'll help you choose a custom hardscape that fits seamlessly into your outdoor space. Best of all, our certified installers will make sure your patio, seating wall, and garden paths are built with Chilel Landscaping durable craftsmanship."
			/>
		<RightHero 
			heroImage='background-image: url(/assets/LandscapingPath.jpg);'
			heroTitle='Try our service a la carte'
			heroList = {serviceList}
		/>
		<LeftHero 
			heroImage='background-image: url(/assets/LandscapingCourtyard.jpg);'
			heroTitle='Yearly contractor services'
			heroList = {basicContract}
		/>
		<RightHero 
			heroImage='background-image: url(/assets/LandscapingPath.jpg);'
			heroTitle='Yearly Premium services'
			heroList = {advancedContract}
		/>
		<Footer />
	</body>
</html>
