---
const { frontmatter, url } = Astro.props.project;
import Styles from "../../public/site.css";
---

<div class="portfolio-card">
	<div class="portfolio-title-card" style={`background-image:url(${frontmatter.img})`}>
		<h1 class="portfolio-title">{frontmatter.title}</h1>
	</div>
	<div class="project-desc-card">
		<p class="project-desc">{frontmatter.description}</p>
		<div class="tags">
			Tagged:
			{frontmatter.tags.map((t) => (
				<div class="tag" data-tag={t}>
					{t}
				</div>
			))}
		</div>
		<a class="project-link" href={url}>
			<span class="project-link-inner">View</span>
		</a>
	</div>
</div>

